@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1bap3ii-MuiPaper-root-MuiDrawer-paper {
  border-radius: 0% !important ;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: "Poppins" !important;
  background: #ececec38;
}

* {
  font-family: "Poppins" !important;
  padding: 0%;
  margin: 0%;
}

code {
  font-family: "Poppins" !important;
}

::root {
  --color-primary: #002979;
}
